body {
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 20px;
}

.game-board {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
}

.card {
    width: 100px;
    height: 100px;
    margin: 10px;
    background-color: rgb(200, 200, 200);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    color: rgb(200, 200, 200);
    cursor: pointer;
}

.flipped {
    background-color: green;
}